[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/dss-test"]
	path = lib/dss-test
	url = https://github.com/makerdao/dss-test
[submodule "lib/grove-address-registry"]
	path = lib/grove-address-registry
	url = https://github.com/grove-labs/grove-address-registry.git
[submodule "lib/diamond-pau"]
	path = lib/diamond-pau
	url = https://github.com/sky-ecosystem/diamond-pau
[submodule "lib/pau-administered-agent"]
	path = lib/pau-administered-agent
	url = https://github.com/sky-ecosystem/pau-administered-agent.git
